body {
	font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
	font-size: 100%;
}

/*
#customAlert{
	display: none;
	align: center;
	border: solid 2px Red;
	width: auto;
	height: auto;
	top: 50%;
	left: 40%;
	background-color: #444;
	color: Silver;
}

#customAlertGood{
	display: none;
	align: center;
	border: solid 2px black;
	width: auto;
	height: auto;
	top: 50%;
	left: 40%;
	background-color: green;
	color: Silver;
}



.bold{
	font-weight: bold;
}

.italic{
	font-style: italic;
}
*/

#status {
	/* avoid an excessively wide status text */
	white-space: pre;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 400px;
}

#show_hide_Table{
	display: none;
	width: 100%;
}

#delete{
	margin: 0 auto;
}

#list{
	float: right;
}

/* CSS for RED delete confirmation window */
#deletePrompt{
	display: none;
	text-align: center;
	clear: both;
	border: solid 2px Silver;
	width: auto;
	height: auto;
	top: 50%;
	left: 40%;
	background-color: red;
	color: Silver;
}

/* CSS for list table */
table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
	width: 100%; 
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}	

tr:nth-child(even) {
	background-color: #dddddd;
}

.ellipses {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
